<%- include('inc/header'); %>
<body>
    <div class="container">
          <h1 class="my-5">Binary to Decimal Converter</h1>

          <div class="row">
    <div class="container">
        <form class="bg-light p-4">
            <div class="form-group">
                <label for="bin">Enter Binary Number</label>
                <input class="form-control" name="number" id="binary" required="" placeholder="">
            </div>
            <div class="btn-wrap">
                 <span id="binToDec" class="btn btn-success">Convert to Decimal</span>
            <a href="/decimal-to-binary" id="swapBtn" class="btn">Swap(Decimal to Binary)</a>
            </div>
       
            <div class="form-group mt-5">
                <label for="decimal">Decimal Output</label>
                <input class="form-control" type="text" name="words" id="decimal" readonly="">
            </div>

        </form>
    </div>
</div>
        
         
    </div>
<script src="/assets/js/baseconvert.js"></script>
</body>
</html>