<%- include('inc/header'); %>

<body>
    <div class="container-fluid">
          <h1 class="my-5">HTML Minifier</h1>

          <div class="row">
              <div class="col-md-6 text-center">
                  <div class="form-group">
                  <label for="html">Html</label> 
                  <textarea class="form-control" id="html" name="html" rows="25" style="width:100%;max-width:100%" required=""></textarea>
                  </div>
                  <button class="btn btn-primary mt-2" id="minifier" name="HTML Minifier">Minify</button>
              </div>
              <div class="col-md-6 text-center">
                  <div class="form-group">
                      <label for="beautifiedHtml">Minified Html</label> 
                      <textarea class="form-control" id="minifiedHtml" name="minifiedHtml" rows="25" style="width:100%;max-width:100%" readonly=""></textarea>
                  </div>
                  <button class="btn btn-success my-2" id="copyToClipboard" onclick="copyBe()" name="copyToClipboard">Copy to clipboard</button>
              </div>
          </div>
          <div class="row mt-5 mx-5">
            <div class="col-sm-8">
                <h1>HTML Minifier</h1>
                <p class="text-justify">Our online HTML Minifier tool is very simple to use. You can copy your compressed codes from the Minify field by pasting your HTML codes into the HTML field and clicking the Minify button.</p>
                <p class="text-justify">In this way, the dimensions of your HTML projects work much faster and more stable with the online HTML minifier tool.</p>
                <p class="text-justify">It is a tool to minify HTML codes in real time. removes spaces and indents, making it a small file.</p>

                <h3>What is HTML ?</h3>
                <p class="text-justify">HTML assists web designers to create structure profiles, links, block excerpts, paragraphs, and headings for pages and applications.</p>
                <p class="text-justify"> In this regard, web pages can be shaped by using tags and attributes, which are simple code structures. HTML can actually be called the skeleton of a website. In other words, the website cannot be coded without HTML codes.</p>

                
                <h4>Does HTML Minifier Online Tool log my data?</h4>
                <p class="text-justify"><strong>No way!</strong> This HTML Minifier tool does all the formatting on the client side all jobs.</p>
                <p class="text-justify">It is implemented by javascript so it never transmits your data to the open internet and is much faster than doing all the work on the server side.</p>
            </div>
            <div class="col-sm-4">
                <h4>Other Tools</h4>
                <div class="otherTools">
                    <a href="/javascript-beautify" title="Beautify Javascript" class="tag">Beautify Javascript</a>
                    <a href="/lua-minifier" title="Online Lua Minifier" class="tag">Online Lua Minifier</a>
                    <a href="/css-beautify" title="Beautify CSS" class="tag">Beautify CSS</a>
                    <a href="/json-minifier" title="JSON Minifier" class="tag">JSON Minifier</a>
                    <a href="/decimal-to-binary" title="Decimal to Binary" class="tag">Decimal to Binary</a>
                    <a href="/string-to-hex" title="String to Hex" class="tag">String to Hex</a>
                    <a href="/binary-to-decimal" title="Binary to Decimal" class="tag">Binary to Decimal</a>
                </div>
            </div>
        </div>
         
    </div>

    
    
<script src="/assets/js/htmlminifier.js"></script>

    
<script>

    
function copyBe() {

  var copyText = document.getElementById("minifiedHtml");


  copyText.select();
  copyText.setSelectionRange(0, 99999); 


  navigator.clipboard.writeText(copyText.value);


  alert("Copied");
}
   
</script>    
</body>
</html>