
<%- include('inc/header'); %>


<body>
            

        <div class="container-fluid px-5">
            <h1 class="my-5">Development Tools</h1>
           <div class="card-deck">
            
            
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title" id="title">Beautify HTML</h5>
                          <p class="card-text">This online html beautifer tool is a tool that will allow you to format a raw html or compressed html file for easier reading. </p>
                          <a href="/html-beautify" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title">Beautify CSS</h5>
                          <p class="card-text">This online css beautifer tool is a tool that will allow you to format a raw css or compressed css file for easier reading.</p>
                          <a href="#" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title">Beautify Javascript</h5>
                          <p class="card-text">This online js beautifer tool is a tool that will allow you to format a raw javascript or compressed javascript file for easier reading.</p>
                          <a href="/javascript-beautify" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title">Beautify JSON</h5>
                          <p class="card-text">This online JSON beautifer tool is a tool that will allow you to format a raw JSON or compressed JSON file for easier reading.</p>
                          <a href="/json-beautify" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
                 <div class="col-lg-3 col-md-4 mt-5">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title">Lua Minifier</h5>
                          <p class="card-text">It is a tool to minify Lua codes in real time. removes spaces and indents, making it a small file.</p>
                          <a href="/lua-minifier" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
                 <div class="col-lg-3 col-md-4 mt-5">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title">HTML Minifier</h5>
                          <p class="card-text">It is a tool to minify HTML codes in real time. removes spaces and indents, making it a small file.</p>
                          <a href="/html-minifier" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
                 <div class="col-lg-3 col-md-4 mt-5">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title">CSS Minifier</h5>
                          <p class="card-text">It is a tool to minify CSS codes in real time. removes spaces and indents, making it a small file.</p>
                          <a href="/css-minifier" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
                 <div class="col-lg-3 col-md-4 mt-5">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title">JSON Minifier</h5>
                          <p class="card-text">It is a tool to minify JSON codes in real time. removes spaces and indents, making it a small file.</p>
                          <a href="/json-minifier" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
                 <div class="col-lg-3 col-md-4 mt-5">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title">SQL Minifier</h5>
                          <p class="card-text">It is a tool to minify SQL codes in real time. removes spaces and indents, making it a small file.</p>
                          <a href="/sql-minifier" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-5">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title">XML Minifier</h5>
                          <p class="card-text">It is a tool to minify XML codes in real time. removes spaces and indents, making it a small file.</p>
                          <a href="/xml-minifier" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
            </div>
            <h1 class="my-5">Formatter Tools</h1>
             <div class="row">
                <div class="col-md-3">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title" id="title">Excel to HTML</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="/excel-to-html" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title">XML to JSON</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="/xml-to-json" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title">Decimal to Binary</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="/decimal-to-binary" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title">Binary to Decimal</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="/binary-to-decimal" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
            </div>
                <div class="row mt-5 mb-5">
                  <div class="col-md-3">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title">String to Hex</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="/string-to-hex" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title">Number to Words</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="/number-to-words" class="btn-run">Run Tool</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <!-- <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title" id="title">Mirror Online</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="/mirror-online" class="btn-run">Run Tool</a>
                        </div>
                      </div> -->
                </div>
               
                <div class="col-md-3">
                    <!-- <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title tool-title">Binary to Decimal</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="/binary-to-decimal" class="btn-run">Run Tool</a>
                        </div>
                      </div> -->
                </div>
            </div>
               </div>
        </div>
  
</body>
</html>